@model StripeFundamentals.Models.Subscription.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plans</h2>

<div class="row">

    @foreach (var plan in Model.Plans)
    {
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

            <!-- PRICE ITEM -->
            <div class="panel price @plan.CSSThemeClasses">
                <div class="panel-heading  text-center">
                    <h3>@plan.Name</h3>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="font-size:40px"><strong>$@plan.AmountInDollars / @plan.Interval</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    @foreach (var feature in plan.Features)
                    {
                        <li class="list-group-item"><i class="icon-ok text-danger"></i>@feature.Description</li>
                    }
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block @plan.CSSThemeButtonClasses" href="/Account/Register/@plan.Id">BUY NOW!</a>
                </div>
            </div>
            <!-- /PRICE ITEM -->
        </div>
    }

</div>


